.top-box {
  height: 300px;
  padding: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgba(122, 157, 172, 0.4);

  img {
    height: 150px;
    object-fit: cover;
    margin-right: 32px;
  }

  .top-box-right {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}
