<mat-card>
    <mat-card-content>
        <div class="top-box">
            <img src="assets/img/profile.png" alt="Profilimage">
            <div class="top-box-right">
                <mat-card-title>{{ this.customerName }}</mat-card-title>
                <mat-card-subtitle>ID: {{ this.customerID }}</mat-card-subtitle>
            </div>
        </div>
        <div class="data-box">
            <button mat-fab class="btn-edit" color="primary"
                (click)="customerEditToggle()"><mat-icon>edit</mat-icon></button>

            <h2>Personal data:</h2>

            <div>
                <mat-form-field>
                    <input matInput placeholder="First Name" [(ngModel)]="this.customerDetail.firstName"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" [(ngModel)]="this.customerDetail.lastName"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Street" [(ngModel)]="this.customerDetail.street"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Postal Code" [(ngModel)]="this.customerDetail.postalCode"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="City" [(ngModel)]="this.customerDetail.city"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="State" [(ngModel)]="this.customerDetail.state"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Country" [(ngModel)]="this.customerDetail.country"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="this.customerDetail.email"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Date of Birth" [(ngModel)]="this.customerDetail.birthDate"
                        [disabled]="!this.customerEdit">
                </mat-form-field>
            </div>
        </div>
        <mat-card-actions class="btn-group">
            <button mat-raised-button color="primary" [disabled]="!this.customerEdit">Save</button>
            <button mat-raised-button color="warn" [disabled]="!this.customerEdit">Delete</button>
            <button mat-raised-button routerLink="/customers">Cancel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>