<div class="dialog-container">

    <mat-progress-bar mode="indeterminate" *ngIf="this.customerService.newCustomerProgess"></mat-progress-bar>

    <h1 mat-dialog-title>New Customer</h1>

    <div mat-dialog-content>

        <form #newCustForm class="example-form">

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput [(ngModel)]="customerService.newCustomer.firstName"
                                name="firstName" [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput [(ngModel)]="customerService.newCustomer.lastName"
                                name="lastName" [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Street & No.</mat-label>
                            <input type="text" matInput [(ngModel)]="customerService.newCustomer.street" name="street"
                                [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>State</mat-label>
                            <input type="text" matInput [(ngModel)]="customerService.newCustomer.state" name="state"
                                [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Postal Code</mat-label>
                            <input type="text" matInput #postalCode maxlength="5"
                                [(ngModel)]="customerService.newCustomer.postalCode" name="postalCode"
                                [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>City</mat-label>
                            <input type="text" matInput [(ngModel)]="customerService.newCustomer.city" name="city"
                                [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Country</mat-label>
                            <mat-select [(value)]="this.customerService.newCustomer.country">
                                <mat-option *ngFor="let country of this.customerService.newCustomerCountry"
                                    [disabled]="this.customerService.newCustomerProgess" value="{{ country }}">{{
                                    country
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>E-Mail</mat-label>
                            <input type="email" matInput [(ngModel)]="customerService.newCustomer.email" name="email"
                                [disabled]="this.customerService.newCustomerProgess">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY"
                                [(ngModel)]="customerService.birthDate" name="birthDate"
                                [disabled]="this.customerService.newCustomerProgess">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </form>

    </div>

    <div mat-dialog-actions align="end">
        <button mat-button (click)="customerService.addCustomerDialogClose()">Cancel</button>
        <button mat-button (click)="customerService.saveNewCustomer()" cdkFocusInitial>Save</button>
    </div>

</div>