<div class="dialog-container">

    <h1 mat-dialog-title>New Customer</h1>

    <div mat-dialog-content>

        <form class="example-form">

            <table class="full-width" cellspacing="10">
                <tr>
                    <td><mat-form-field class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td><mat-form-field class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="10">
                <tr>
                    <td><mat-form-field class="full-width">
                            <mat-label>Street & No.</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="10">
                <tr>
                    <td><mat-form-field class="full-width">
                            <mat-label>City</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td><mat-form-field class="full-width">
                            <mat-label>State</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td><mat-form-field class="full-width">
                            <mat-label>Postal Code</mat-label>
                            <input matInput #postalCode maxlength="5">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="full-width" cellspacing="10">
                <tr>
                    <td><mat-form-field>
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </form>

    </div>

    <div mat-dialog-actions align="end">
        <button mat-button (click)="CustomerService.addCustomerDialogClose()">Cancel</button>
        <button mat-button [mat-dialog-close]="CustomerService.newCustomerName" cdkFocusInitial>Save</button>
    </div>

</div>